.table-actions {
  display: flex;
  justify-content: space-between;
}

.table-actions button {
  margin-right: 1rem;
}

.img img {
  width: 90px;
}

.control-error {
  border-color: red;
}

.required-label {
  color: red;
}

